* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: black;
  padding: 16px 0;
  color: white;
  text-align: center;
}

.container {
  text-align: center;
  margin-top: 100px;
}

.title {
  margin-bottom: 12px;
}

.youtube {
  margin-bottom: 40px;
}

.open, .close {
  padding: 8px 16px;
  background-color: aqua;
  color: white;
  cursor: pointer;
  border-radius: 8px;
  border: none;
  transition: all 0.3s;
}

.close {
  display: block;
  margin-bottom: 24px;
}

.open:hover, .close:hover {
  background-color: blue;
}

.modalOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  z-index: -10;
  transition: opacity 0.3s;
}

.isOpen {
  opacity: 1;
  z-index: 100;
}


.modalContents {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
